<div><h1>General Ledger Transactions </h1>
<table><tr><th>ID</th><th>Entry Date</th><th>Description</th><th>Tran Type account_code</th><th>To Party</th><th>From Party</th><th>From Org Party</th></tr>
<tr><td>1</td><td>2019-01-28</td><td>Depreciation on equipment</td><td>Depreciation expense</td> <td>3</td><td></td><td>3</td></tr>

<table><h4>Transaction Detail</h4>
             <tr><th>ID</th><th>Seq</th><th>Amount</th><th>Flag</th><th>Party ID</th><th>Gl Account ID</th><th>Parent ID</th><th>Parent Seq</th></tr>
<tr><td>1</td><td>1</td><td>20000</td><td>Debit</td> <td>4</td><td>13</td><td>1</td><td></td></tr>
<tr><td>2</td><td>2</td><td>20000</td><td>Credit</td> <td>4</td><td>12</td><td>1</td><td></td></tr>
</div></table></table>
