<div><h1>General Ledger Chart of Accounts</h1></div>
<table><tr><th>ID</th><th>Code</th><th>Name</th><th>Account Type</th><th>Description</th></tr>
<tr><td>1</td><td>110</td><td>Cash</td><td>Cash</td> <td>Liquid money available</td></tr>
<tr><td>2</td><td>120</td><td>Banks</td><td>Bank</td> <td>Bank Account</td></tr>
<tr><td>3</td><td>121</td><td>Banco Bolivariano</td><td>Bank</td> <td>Checking Bank Account 986543</td></tr>
<tr><td>4</td><td>122</td><td>Banco Bolivariano</td><td>Bank</td> <td>Saving Bank Account No. 898765</td></tr>
<tr><td>12</td><td>161</td><td>Accumulate Depreciation</td><td>Asset</td> <td>Fixed assets accumulate depreciation</td></tr>
<tr><td>8</td><td>400</td><td>Revenues</td><td>Revenue</td> <td>Amounts due to different incomes</td></tr>
<tr><td>9</td><td>410</td><td>Membership Income</td><td>Revenue</td> <td>Income obtained from membership sales</td></tr>
<tr><td>10</td><td>420</td><td>Advertising Income </td><td>Revenue</td> <td>Amounts of revenues accumulated for a period due to advertising sales</td></tr>
<tr><td>11</td><td>430</td><td>Invoices Pending Payment</td><td>Revenue</td> <td>Invoices pending of payment</td></tr>
<tr><td>5</td><td>500</td><td>Expenses</td><td>Expense</td> <td>Operational Expenses</td></tr>
<tr><td>6</td><td>510</td><td>Advertising expense</td><td>Expense</td> <td>Cost of marketing expenses</td></tr>
<tr><td>7</td><td>520</td><td>Office Supplies expense</td><td>Expense</td> <td>Office supplies expenses</td></tr>
<tr><td>13</td><td>610</td><td>Depreciation Expense</td><td>Expense</td> <td>Fixed assets depreciation</td></tr>
</table>
