<h4>Balance de Ingresos vs Gastos </h4>
      <table>
      <th><h5>Créditos</h5></th>
<tr>
          <td> Caja </td>
          <td>  65.00</td>
      </tr>
<tr>
          <td> Banco Bolivariano </td>
          <td>  65.00</td>
      </tr>
<th><h5>Débitos</h5></th>
<tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> Activos Corrientes</td>
          <td> 65.00</td>
      </tr>
<tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> Bancos</td>
          <td> 65.00</td>
      </tr>
</table>
<br><p>Crédito = 130.00 - Débito = 130.00 = Balance = 0.00</p>
